header {
    width: 100vw;
    background-color: #191d28;
    border-bottom: 0.1rem solid #272935;
    padding: 0.7rem 2rem 0.7rem 2rem;
    overflow: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    section {
        display: flex;
    }
    section.left {
        justify-content: flex-start;
    }
    section.right {
        justify-content: flex-end;
    }
    nav {
        display: flex;
        flex-direction: row;
        a.brand {
            color: #F7FFF7;
            text-decoration: none;
            font-weight: 700;
            font-size: 1.4rem;
            padding-right: 0.8rem;
        }
        
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            align-items: center;

            li {
                padding-left: 0.8rem;
                font-weight: 600;
                font-size: 0.9rem;
                .btn.btn-outline-success:hover {
                    color: #fff;
                }
                a {
                    color: #cdd1cd;
                    transition: ease 250ms color;

                    &:hover {
                        text-decoration: none;
                        color: #F7FFF7;
                    }
                }
            }
        }
    }
}